
p {
  color: red;
  width: 500px;
  border: 1px solid black;
}
body {
	color: green;
}

/* class selector. It applies to only <p> elements with propery of class= "mypar"  and ol (ordered lists)*/
p.mypar, ol { 
  	 font-family: Arial, Helvetica, sans-serif;
	color: black;
}

/* ID/id selector. It applies to all elements with propery of id= "mypar-id1"  and also to ul*/
ul, #mypar-id1 { 
  	 font-family: Arial, Helvetica, sans-serif;
	color: yellow;
}

/* property selector. It applies to all elements that have a property called src= "...." on them. This can be done to any element, just add the property name or invent one.*/
p[myprop] { 
  	 font-family: Arial, Helvetica, sans-serif;
	color: blue;
}

/* property selector. It applies to all elements that have a property called src= "...." on them. This can be done to any element, just add the property name or invent one. and also on
when hovering on it... this is cool stuff.*/
p[myprop]:hover { 
  	 font-family: Arial, Helvetica, sans-serif;
	color: cyan;
}